.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--opacity-neutral-darkest-50);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 1000; */
}
.modalContent {
  background: var(--color-white);
  border-radius: 40px;
  position: relative;
  min-width: 320px;
  padding: 64px 20px;
  width: 335px;
  height: 484px;

  @media (min-width: 768px) {
    width: 704px;
    height: 441px;
    padding: 64px 32px;
  }

  @media (min-width: 1440px) {
    width: 768px;
    height: 472px;
    padding: 64px;
  }
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 36px;
    right: 36px;
  }
}

.svg {
  width: 24px;
  height: 24px;
}

.modalTitle {
  font: 700 36px / 120% var(--second-family);
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-scheme-text);

  @media (min-width: 1440px) {
    font-size: 48px;
  }
}
