.wrapper {
  display: flex;
}

.section {
  padding: 221px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 280px 0;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 266px 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 112px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;

  font-weight: var(--fw-bold);
  font-size: 36px;

  line-height: 1.2;
  letter-spacing: 0.01em;
  background-color: var(--color-scheme-text);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.field {
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
  background: var(--opacity-neutral-darkest-5);
}

@media screen and (min-width: 768px) {
  .field {
    width: 480px;
  }
}

.errorField {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.errorField::placeholder {
  color: var(--color-red);
}

.error {
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-red);
}

.text {
  display: flex;
  gap: 5px;
  font-size: 14px;
  text-align: center;
  width: 222px;
}

.link {
  line-height: 1.6;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

.vision {
  display: none;
}

@media screen and (min-width: 1440px) {
  .vision {
    display: block;
    padding: 0;
  }
}
