.component {
  display: flex;
  flex-direction: column;
}

.title {
  background-color: rgb(179, 201, 214);
}

.header { display:flex; align-items:center; justify-content:space-between; height:64px; }
.title { margin:0; font-size:18px; font-weight:var(--fw-bold); }
.tools { display:flex; align-items:center; gap:8px; color:var(--color-neutral-dark); }
.body { display:grid; row-gap:16px; overflow:auto; }