.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--opacity-neutral-darkest-50);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

padding: 64px 20px;

flex-direction: row;
gap: 0px;
}

.modalContent {
  background-color: var(--color-white);
  border-radius: 40px;
  padding: 48px 20px;
  width: 335px;
  height: 695px;
  /* max-width: 768px; */
  position: relative;

display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 20px;

/* background: var(--color-scheme-background); */

  @media (min-width: 768px) {
    width: 704px;
    height: 755px;
    padding: 64px 32px;
  }
  @media (min-width: 1440px) {
    width: 768px;
    height: 785px;
    padding: 64px;
  }
}

.closeButton {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  cursor: pointer;

  @media (min-width: 768px) {
    top: 36px;
    right: 36px;
  }
}

.modalTitle {
  /* width: 640px;
  height: 58px; */

font-family: var(--second-family);
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: 0.01em;
text-align: center;
color: var(--color-scheme-text);

  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 16px;

width: 295px;
height: 43px;

  @media (min-width: 1440px) {
    font-size: 48px;
  }
}

/* ============================ Tablet ============================*/

@media screen and (min-width: 768px) {
  .modalBackdrop{
    padding: 64px 32px;
  }

  .modalTitle{
    width: 640px;
  }
}

/* ============================ Desktop ============================*/

@media screen and (min-width: 1440px) {
  
}