.container {
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden; /* заборонити горизонтальний скрол */
}

.greetingWeekContainer h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-bottom: 24px;
  padding-top: 16px;
  text-align: center;
}

@media screen and (min-width: 1440px) {
  .greetingWeekContainer h2 {
    font-size: 32px;
  }
}
