
.text {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  margin-bottom: 24px;
  padding-top: 16px;
  margin-left: 32px;
}

@media screen and (min-width: 1440px) {
  .text {
    font-size: 32px;

.greetingBlock {
  width: 311px;
  height: 34px;
  font-weight: 700;
  font-family: (--second-family);
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-text);
  text-align: center;

  @media (min-width: 768px) {
    width: 704px;
    text-align: left;
    padding-left: 16px;
  }
  @media (min-width: 1440px) {
    width: 1280px;
    height: 45px;
    font-size: 32px;
    padding-left: 32px;
    margin-bottom: 16px;

  }
}
