.link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
  text-decoration: none; /* Забираємо стандартне підкреслення */
  cursor: pointer;
  transition: all 0.2s ease;
}

.link:hover,
.link:focus {
  border-bottom: 1px solid var(--color-neutral-darkest);
}

.link:active {
  border-bottom: 1px solid var(--color-pastel-pink);
  color: var(--color-pastel-pink);
}

.link[disabled] {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none; /* Забороняє взаємодію з посиланням */
}
