.dashboardGrid {
  display: flex;
  flex-direction: column;
}

.dashboardGrid > :first-child {
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .dashboardGrid > :first-child {
    margin-left: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .dashboardGrid > :first-child {
    margin-left: 24px;
  }
}
.dashboardContainer {
  display: flex;
  flex-direction: column;
  width: 375px;
  align-items: center;
  padding: 0 20px 32px;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 768px;
  }
  @media (min-width: 1440px) {
    width: 1280px;
    flex-direction: row;
    align-items: start;
    padding: 0px;
    gap: 16px;
  }
}

.statusContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 1440px) {
    width: 674px;
  }
}

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: 1440px) {
    width: 422px;
    height: 789px;
    align-items: start;
  }
}
