/* =================== MOBIL =================== */

/* ------------------- TABLET ------------------- */

@media screen and (min-width: 768px) {
}

/* ------------------- COMPUTER ------------------- */

@media screen and (min-width: 1440px) {
  .detailsInner {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;

    width: 595px;
    height: 318px;
  }

  .top {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;

    width: 595px;
    height: 40px;
  }

  .divTitle {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;

    width: 310px;
    height: 40px;
  }

  .title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
  }

  .meta {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-scheme-text);
  }

  .text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-scheme-text);
  }

  .tags {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;

    /* width: 179px; */
    height: 30px;
  }

  .chip {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;

    border: 1px solid var(--opacity-transparent);
    border-radius: 100px;
    padding: 4px 10px;
    height: 30px;

    background: var(--opacity-neutral-darkest-5);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: var(--color-scheme-text);

    /*overflow: hidden;*/
  }

  .placeholder {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: var(--color-scheme-text);

    margin-left: 93px;
    margin-right: 93px;
  }
}
