.wrapper {
  display: flex;
  justify-content: center;
}

.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 375px;
  justify-content: center;
  height: 711px;
}

.uploadBtn {
  border-bottom: 4px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  padding: 8px 20px;
  width: 162px;
  height: 38px;

  background-color: var(--opacity-neutral-darkest-5);
  font-family: var(--font-lato-google);
  font-weight: var(--fw-medium);
  font-size: 14px;

  /* line-height: 22px; */
  line-height: 160%;
  color: var(--color-neutral-darkest);
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.data_selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 32px;
}
.title {
  margin-top: 0;
  font-size: 36px;
  text-align: center;

  font-weight: var(--fw-bold);

  line-height: 1.2;
  letter-spacing: 0.01em;
  background-color: var(--color-scheme-text);
}

.selectWrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 14px;
}

.field {
  border: 2px solid var(--opacity-transparent);
  border-radius: 12px;
  padding: 8px 12px;
  width: 335px;
  height: 37px;
  background: var(--opacity-neutral-darkest-5);
  appearance: none; /* прибираємо стандартну стрілку */

  cursor: pointer;
}

.placeholder {
  color: #999;
}

.field option {
  color: #111;
}

.arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  width: 24px;
  height: 24px;
  pointer-events: none;
  background-image: url('/icons/keyboard_arrow_down.svg'); /* твоя іконка */
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
}

/* коли select у фокусі → обертаємо стрілку */
.field:focus + .arrow {
  transform: translateY(-50%) rotate(180deg);
}
.errorField {
  border: 1px solid var(--color-red);
  color: var(--color-red);
}

.errorField::placeholder {
  color: var(--color-red);
}

.error {
  font-size: 12px;
  line-height: 1.6;
  color: var(--color-red);
}

.vision {
  display: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 144px;
    height: 828px;
  }
  .field {
    width: 480px;
  }
}

@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }
  .vision {
    display: block;
    padding: 0;
  }
}
